name: Run Notebook scripts

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 8 * * *' # Run daily at 8:00 UTC
    - cron: '0 22 * * *' # Run daily at 22:00 UTC

jobs:
  run-notebook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
       
      - name: Upgrade pip and Install Dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install nbconvert
          pip install tqdm
         
      - name: Run First Python Script
        run: python tx_futures_周合約k_gspread_v03_1140208完成.py

      - name: Run Second Python Script
        run: python tx_futures_周合約全日k_gspread__v02_1140208_完成.py

      - name: Run Third Python Script
        run: python tx_月合約k_gspread__v03_1150301_完成_註解.py

      - name: Run forth Python Script
        run: python tx_月合約全日k_gspread__v04_1150227editting_完成_註解.py

      - name: Install dependencies
        run: pip install requests

      - name: Trigger GAS Web App
        run: python trigger_gas.py
